@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap');

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}


.container{
    max-width: 1250px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
button{
    border: none;
}

body{
    background: var(--base-dark-bg-1, #252836);
    overflow-x: hidden;
    margin: 0 auto; 
    padding: 0;

}


/* header */
.header__title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 32px;    
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.header__text{
    color: var(--text-lighter, #E0E6E9);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.tab{
    display: flex;
    justify-content: center;
}
.tabs{
    position: fixed;
    left: 0;    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252836;
    padding: 0;
    margin: 0;
    height: 100vh;
    z-index: 100;
}
.li-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 108px;
    background-color: #1F1D2B;
}
.li-1--active{
    width: 140px;
    background-color: #1F1D2B !important;
    position: relative;
    z-index: 3;
}

.li-1--active::after{
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #252836;
    border-radius: 12px 0 0 12px;
}
.tabs__item-button--active{
    width: 57px;
    height: 57px;
    background-color: #EA7C69 !important;
    border-radius: 9px;
}
.li-1--active::after{
    border-bottom-right-radius: 5px;
}
.li-1--active::before{
    border-bottom-right-radius: 5px;
}
.style-icons--active{
    color: #E0E6E9 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs__item-button{
    background-color: #1F1D2B;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.tabs__item-img{
    width: 30px;
    height: 30px;
    color: white;
}
.main .bg__color{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.70);
    z-index: 99;
    display: none;
}
.bg__color--active {
    display: flex !important;  
}

.head__title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 0;
    height: 100%;
}
.head__text{
    color: var(--text-lighter, #E0E6E9);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.head__style{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0;
}
.head__li-1{
    justify-content: center;
    display: flex;
}
.head__temp{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #2D303E;
    border-left: 20px;
    position: relative;
    right: -44px;
    z-index: 1;
}
.head__input{
    border-radius: 8px;
    color: var(--text-lighter, #E0E6E9);
    background: var(--base-form-bg, #2D303E);
    display: flex;
    width: 370px;
    height: 55px;
    border: none;
    border-left: 34px;
    padding-left: 66px;
    
    align-items: flex-start;
    position: relative;
}
.template{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab__box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #393C49;
    position: relative;

}
.tab__box .tabs__btn{
    font-size: 18px;
    font-weight: 600;
    color:  #FFF;
    /* border: none; */
    background: none;
    padding: 7px;
    cursor: pointer;
    transition: all 1s ease-out;
}
.tabs__btn--active{
    border-bottom: 2px solid #EA7C69;
    color: #EA7C69 !important;
}
.tabs__content{
    position: relative;
    padding-bottom: 55px;
}
.tabs__content-item{
    opacity: 0;
    display: none;
}
.tabs__content-item--active{
    opacity: 1;
    display: grid;
}
.style-icons{
    font-size: 1.5rem;
    color: #EA7C69;
    height: 54px;
    width: 54px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.choose__select{
    border-radius: 16px;
    border: 1px solid #FFF;
    width: 186px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
}
.dish-item:hover{
    transform: scale(1.13);
    transition: 0.3s;
}

.menu-btn--active{
    display: flex !important;
    z-index: 1;
    background-color: #252836;
    padding: 0 50px;
    justify-content:inherit;
    text-align: center;
    width: 186px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.choose__select--active{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.menu-btn{
    position: absolute;
    display: none;
    top: 50px;
    flex-direction: column;
    border: 1px solid white;
    border-top: none;
    padding: 0;
}
.select__title{
    font-size: 18px;
    color:#E0E6E9;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid;

}
.menu--btn{
    position: absolute;
    display: none;
    top: 50px;
    flex-direction: column;
    border: 1px solid white;
    border-top: none;
    padding: 0;
}
.menu--btn--active{
    display: flex !important;
    z-index: 1;
    background-color: #1F1D2B;
    padding: -1 50px;
    justify-content: inherit;
    text-align: center;
    width: 173px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.menu--btn-1{
    position: absolute;
    display: none;
    top: 43px;
    flex-direction: column;
    border: 1px solid #393C49;
    border-top: none;
    padding: 0;
}
.menu--btn-1--active{
    display: flex !important;
    z-index: 1;
    background-color: #1F1D2B;
    padding: -1 50px;
    justify-content: inherit;
    text-align: center;
    width: 173px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.select--title{
    font-size: 14px;
    color: #E0E6E9;
    padding-top: 10px;
    padding-bottom: 18px;
    border-top: 1px solid #393C49;
}
.select--title-1{
    font-size: 14px;
    color: #E0E6E9;
    padding-top: 10px;
    padding-bottom: 18px;
    border-top: 1px solid #393C49;
}
.card__btn:hover{
    background-color: #FFF;
    transform: scale(1.03);
}
.select__title:hover{
    background-color: #FFF;
    color: #252836;
}
.select__title-1:hover{
    background-color: #FFF;
    color: #252836;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.img-item{
    background-color: #1F1D2B;
    background: none;
}
.select__text{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.text__title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.dish-item{
    width: 250px;
    height: 340px;
    background-color: #1F1D2B;
    border-radius: 9px;
}

.card-back{
    display: flex;
    gap: 30px;
    text-align: center;
    grid-template-columns: repeat(4,1fr);
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
}
.plus{
    padding: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-left: 25px;
}
.card__title{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.card__price{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.card__title-2{
    color: var(--text-light, #ABBBC2);
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.card__btn{
    color: #FFF;
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: flex;
    width: 180px;
    height: 46px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--primary-color, #EA7C69);
    box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.30);
}
.btn__item{
    display: flex;
    justify-content: center;
}
.window__item{
    overflow: auto;
    display: none;
    justify-content: end;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #252836;
    height: 100%;
    padding: 50px;
    z-index: 100;
}
.window__item--active{
    display: block;
    transform: translateX(0%);
    transition: transform 1s;
}


.window__btn{
    padding-top: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--base-bg, #FAFAFA);
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
    background: var(--primary-color, #EA7C69);
    box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.30);
    width: 440px;
    height: 48px;
    padding: 14px;
}
.window__text-title{
    color: var(--text-lighter, #E0E6E9);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    justify-content: center;
    padding-bottom: 174px;
}
.window__text-2{
    color: var(--text-lighter, #E0E6E9);
    font-family: Barlow;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 36px;
    padding-bottom: 32px;
}
.window__img{
    margin: auto;
    display: block;
}
.active{
    display: none;
}
.element{
    display: flex;
}
.window__text{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}


.function{
    justify-content: end;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #252836;
    height: 100%;
    padding: 50px;
    z-index: 100;
    width: 540px;
    display: none;
}
.function--active{
    display: block;
}
.function__items{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.function__items:hover{
    border-radius: 8px 8px 0px 0px;
    background: rgba(234, 124, 105, 0.26);
}
.function__img{
   width: 24px;
   height: 24px;
   
}
.function_title{
    padding-left: 35px;
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}
.function--background{
    border-radius: 8px;
    background: #1F1D2B;
    width: 440px;
    height: 335px;
}
.function__head-title{
    margin: 0;
    padding-bottom: 40px;
    padding-top: 30px;
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}
.profile{
    justify-content: end;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #252836;
    height: 100%;
    padding: 50px;
    z-index: 100;
    display: none;
}
.profile--active{
    display: block;
}
.profile--background{
    border-radius: 8px;
    background: #1F1D2B;
    width: 440px;
    height: 170px;
}
.profile--head-title{
    display: flex;
    padding-top: 25px;
    padding-left: 15px;

}
.ellipse{
    width: 80px;
    height: 80px;
    background-color: #252836;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-order{
    display: flex;
    justify-content: end;
    padding-right: 28px;
    padding-top: 28px;
    color: #EA7C69;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
}
.head-title{
    margin: 0;
    color: #FFF;
    text-align: right;
    font-family: Barlow;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.head-title-1{
    color: #FFF;
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-left: 30px;
}
.order--history{
    padding: 30px 17px;
    align-items: center;
    display: flex;
    border-radius: 8px;
    background: rgba(234, 124, 105, 0.26);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
.order--history-img{
    width: 24px;
    height: 24px;
}
.order-div{
    padding-top: 30px;
}
.order-title{
    margin: 0;
    padding-left: 25px;
    color: #FFF;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.order-header--text{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.information--active{
    display: block !important;
}
.information{
    display: none;
    justify-content: end;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #252836;
    height: 100%;
    padding: 50px;
    z-index: 100;
}

.information__items{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
}

.information--img{
    width: 24px;
    height: 24px;
}
.information--background{
    border-radius: 8px;
    background: #1F1D2B;
    width: 434px;
    height: 464px;
}
.information--text{
    font-size: 23px;
    padding-left: 57px;
    color: var(--white, #FFF);
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
}
.information--icon-background{
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.information--icon-background-items:not(:last-child){
    padding-right: 66px;
}
.information--icon-background-items{
    padding-top: 40px;
}
.information--head-title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding-bottom: 40px;
}
.order--profile-or-burger--active{
    display: block !important;
    overflow: auto;
}
.order--profile-or-burger{
    display: none;
    justify-content: end;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #252836;
    height: 100%;
    padding: 50px;
    z-index: 100;
}
.order--history-title:hover{
    background: rgba(234, 124, 105, 0.26);
    
}
.order--background{
    border-radius: 8px;
    background: #1F1D2B;
    width: 438px;
    height: 106px;
}
.order--background-title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 0;
}
.order--background-text{
    color: var(--text-lighter, #E0E6E9);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}
.order--history-title{
    display: block;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.order--title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 0;
    padding-bottom: 30px;
}
.client--orders--active{
    display: block !important;
}
.client--orders{
    overflow: auto;
    display: none;
    justify-content: end;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #252836;
    height: 100%;
    padding: 50px;
    z-index: 100;
}
.client--order-header{
    display: flex;
    padding-bottom: 20px;
}
.client--order-header-img{
    width: 24px;
    height: 24px;
}
.client-buy-btn{
    border: none;
    background: none;
    padding-right: 56px;
}
.client--order-button-btn{
    border-radius: 8px;
    border: 1px solid var(--base-dark-line, #393C49);
    background: var(--base-dark-bg-2, #1F1D2B);
    display: flex;
    padding: 7px 12px;
    align-items: flex-start;
    gap: 10px;
    color: var(--primary-color, #EA7C69);    
}
.client--order-button{
    display: flex;
    gap: 10px;
}
.client--order-button-btn:hover{
    border-radius: 8px;
    background: #EA7C69;
    color: var(--white, #FFF);
    gap: 10px;
}
.client--order-texts{
    display: flex;
}
.client--order-texts-item-1{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    padding-right: 270px;
}
.client--order-texts-item-2{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-right: 60px;
}
.client--order-texts-item-3{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.border-bottom{
    border: 1px solid #393C49;
}
.img-background{
    background-color: #1F1D2B;
    border-radius: 8px;
    padding: 5px;
}
.btn-background{
    border: none;
    background: none;
}
.delete{
    background:none;
    border: 1px solid var(--primary-color, #EA7C69);
    border-radius: 8px;
    width: 48px;
}
.order-product-img{
    width: 100px;
}
.order-product{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.order-product-price{
    display: flex;
    justify-content: end;

}
.order-product-price-p{
    margin: 0;
    margin-top: -15px;
    color: var(--white, #FFF);
    text-align: right;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.order--count{
    display: flex;
    justify-content: space-between;
}
.order-count-amount{
    display: flex;
    color: var(--white, #FFF);
    text-align: right;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.order-number{
    margin-left: 5px;
    margin-right: 5px;
    color: #FFF;
    text-align: right;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.description{
    display: flex;
    width: 360px;
    padding: 14px 96px 14px 14px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--base-dark-line, #393C49);
    background: var(--base-form-bg, #2D303E);
}
.input-order{
    display: flex;
    justify-content: space-between;
}
.discount{
    display: flex;
    justify-content: space-between;
}
.order-product-text{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 200px;
    margin: 0;
}
.discount-text{
    color: var(--white, #FFF);
    text-align: right;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.discount-price{
    color: var(--white, #FFF);
    text-align: right;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.total-sum-1{
    color: var(--white, #FFF);
    text-align: right;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.total-sum{
    color: var(--white, #FFF);
    text-align: right;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.total{
    display: flex;
    justify-content: space-between;
}
.order-count{
    display: flex;  
    
}
.order--count-bacground{
    display: flex;  
}

.order-header-title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 0;
}
/* oops */
.delete > * {
    pointer-events: none;
}
.order--payment--active{
    display: block !important; 
}
.order--payment{
    display: none;
    justify-content: end;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #252836;
    height: 100%;
    padding: 50px;
    z-index: 100;   
}
.order--payment-title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}
.order--payment-text{
    color: var(--text-light, #ABBBC2);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.order--payment-cards{
    display: flex;
    gap: 8px;
}
.order-payment-section-title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.card-title{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    line-height: 130%; 
    padding-bottom: 8px;
}
.payment--button{
    display: flex;
    padding-top: 120px;
    align-items: center;
    gap: 35px;
}
.payment--button-btn:hover{
    box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.30);
    color: #E0E6E9;
    border-radius: 8px;
    background: var(--primary-color, #EA7C69);
}
.payment--button-btn{
    padding-top: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--base-bg, #EA7C69);
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
    background: var(--primary-color, #252836);
    border: 1px solid var(--primary-color, #EA7C69);
    width: 180px;
    height: 48px;
    padding: 14px;
}
.input--section{
    display: flex;
    gap: 30px;
}
.order--payment-select-card{
    display: flex;
    gap: 30px;
}
.order--payment-card--active{
    border-radius: 8px;
    border: 1px solid var(--text-light, #ABBBC2);
    background: var(--base-dark-bg-1, #252836) !important;
}
.order--payment-card{
    width: 101px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid var(--text-light, #ABBBC2);
    background: var(--base-dark-bg-1, #1F1D2B);
    flex-direction: column;
    display: flex;
    align-items: center;
}
.order--payment-img{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.description-card{
    display: flex;
    width: 175px;
    padding: 14px 96px 14px 14px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--base-dark-line, #393C49);
    background: var(--base-form-bg, #2D303E);
    color: #E0E6E9;
}
.choose__select-card{
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 175px;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: start;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--base-dark-line, #393C49);
    background: var(--base-dark-bg-2, #1F1D2B);
}
.select__text-card{
    color: var(--white, #FFF);
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.card-items{
    padding-top: 16px;
}
.plus--items{
    padding-top: 24px;
    padding-bottom: 16px;
}
.plus--item-2{
    padding-top: 16px;
}

.description-card-window{
    display: flex;
    color: #E0E6E9;
    width: 380px;
    padding: 14px 96px 14px 14px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--base-dark-line, #393C49);
    background: var(--base-form-bg, #2D303E);
}
.choose__select-card-img{
    display: flex;
    padding-left: 14px;
    padding-right: 10px;
}
.select__text--title{
    color: var(--text-lighter, #E0E6E9);
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
.img-activator--active{
    display: flex !important;
}
.img-activator{
    display: none;
    align-items: end;
    justify-content: end;
    position: absolute;
    padding-left: 40px;
    margin-top: -10px;
}
.new-card--active{
    display: flex;
    align-items: center;
}
.border-bottom-right {
    border-bottom-right-radius: 28px;
}

.border-top-right {
    border-top-right-radius: 28px;
}

@media (max-width:440px){
    .tabs{
        gap: 20px;
        z-index: 9999;
        bottom: 0;
        width: 100% ;
        height: 100px;
        left: 0;
        flex-direction: row;
        background: #1F1D2B;
        margin: auto;
    }
    .card-back{
        flex-wrap: wrap;
        column-gap: 30px;
        flex-direction: column;
        align-items: center;
        gap: 120px;
        padding-left: 0;
        margin-bottom: 60px;
    }
    .head__style{
        flex-direction: column;
        align-items: start;
    }
    .head__input{
        padding-right: 0;
    }
    .head__li-1{
        margin-left: -30px;
    }
    .tab__box{
        overflow-y: auto
    }
    .tabs__btn:first-child{
        margin-left: 60px;
    }
    .tabs__btn{
        white-space: nowrap;
        font-size: 16px !important;
    }
    .choose__select{
        background-color: #1F1D2B;
        width: 102px;
        height: 46px;
        border: none;
    }
    .text__title{
        font-size: 20px;
    }
    .menu-btn{
        border: none;
        width: 102px;
        top: 40px;
        background-color: #1F1D2B;
    }
    .select__title{
        border-top: none;
    }
    .li-1:nth-child(3),
    .li-1:nth-child(5),
    .li-1:nth-child(6){
        display: none;  
    }

    .li-1{
        height: 100px;
        padding: 0;
        background: none;
    }
    .li-1--active{
        width: 100px;
    }
     .li-1:nth-child(4){
        order: 2;
    }
     .li-1:nth-child(7){
        order: 4;
    }
    .li-1:nth-child(2){
        order: 3;
    }
    .li-1:nth-child(8){
        order: 5;
    }
    .li-1:nth-child(1){
        order: 1;
    } 
    .li-1--active::after{
        background: #1F1D2B;
    }
    .dish-item:hover{
        transform: scale(1);
    }
    .window__item{
        width: 100%;
        padding: 0;
        overflow: auto;
    }
    .window__btn{
        margin-bottom: 100px;
        width: 90%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
    }
    .active{
        display: flex;
    }
    .window__img{
        width: 300px;
        height: 300px;
        margin-top: 60px;
    }
    .element{
        margin-top: 20px;
        margin-left: 30px;
    }
    .window__text-title{
        color: var(--text-lighter, #E0E6E9);
        padding-bottom: 70px;
    }
    .window__text-2{
        padding-bottom: 0;
    }
    .client-buy-btn{
        align-items: center;
        padding-right: 38px;
    } 
    .card__btn{
        color: #FFF;
        font-family: Barlow;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        width: 90%;
        margin-top: 15px;
    }
    .plus{
        margin-left: 25px;
    }
    .head__title{
        margin: 0;
        padding-top: 0;
    }
    .img--active{
        display: flex;
    }
    .select__text{
        padding-right: 7px;
        font-size: 18px;
    }
    .choose__select{
        border-radius: 8px;
    }
    .function{
        width: 100%;
        padding: 0;
    }
    .function--background{
        width: 85%;
        margin-left: 30px;
    }
    .function__head-title{
        display: flex;
        align-items: center;
    }
    .active-1{
        margin-top: 0;
    }
    .information{
        width: 100%;
        padding: 0;
    }
    .information--background{
        width: 85%;
        margin-left: 30px;
        height: 434px;
    }
    .information--icon-background{
        padding-left: 0;
    }
    .information__items {
        padding-top: 10px;
        padding-left: 20px;
    }
    .information--icon-background-items:not(:last-child){
        padding-right: 40px;
    }
    .information--icon-background-items:first-child{
        margin-left: 40px;
    }
    .information--head-title{
        padding-bottom: 0;
    }
    .element-plus{
        margin-bottom: 60px;
    }
    .order--profile-or-burger{
        width: 100%;
        padding: 0;
        overflow: auto;
    }
    .order--background{
        width: 370px;
        margin: auto;
        height: auto;
        padding-bottom: 30px;
    }
    .profile{
        width: 100%;
        padding: 0;
    }
    .profile--background{
        width: 90%;
        margin: auto;
    }
    .link-order{
        padding-top: 20px;
    }
    .order-div{
        width: 90%;
        margin: auto;
        padding-top: 43px;
    }
    .ellipse{
        width: 65px;
        height: 65px;
    }
    .order--history{
        background: #1F1D2B;
    }
    .order--title{
        padding-bottom: 0;
    }
    .order--element{
        margin-bottom: 20px;
    }
    .client--orders{
        width: 100%;
        overflow: auto;
        padding: 0;
        height: calc(100% - 100px);
    }
    .client--order-button{
        width: 90%;
        margin: auto;
    }
    .client--order-texts{
        width: 100%;
        margin-left: 25px;
    }
    .client--order-texts-item-1{
        padding-right: 200px;
    }
    .border-bottom{
        width: 90%;
        margin: auto;
    }
    .client--order-header{
        margin-top: 20px;
        margin-left: 20px;
    }
    .order__section--product{
        width: 90%;
        margin: auto;
    }
    .order--count{
        width: 90%;
        margin: auto;
    }
    .description {
        width: 304px;
    }
    .input-order{
        width: 90%;
        margin: auto;
    }
    .order-product-price{
        margin-right: 90px;
    }
    .order-count{
        margin-right: 90px;
    }
    .order-product-text{
        margin-right: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .discount{
        width: 88%;
        margin: auto;
    }
    .total{
        width: 88%;
        margin: auto;
    }
    .order--payment{
        width: 100%;
        overflow: auto;
        margin: auto;
        padding: 0;
    }
    .client--order-header{
        margin-top: 0;
        padding: 0;
    }
    .order--payment-text{
        margin-right: 30;
        width: 90%;
        margin: auto;
        margin-bottom: 24px;
    }
    .order--payment-title{
        margin-left: 30px;
    }
    .order--payment-section{
        width: 90%;
        margin: auto;
    }
    .card-items{
        width: 90%;
        margin: auto;
    }.payment--button-btn{
        color: var(--primary-color, #EA7C69);
        font-family: Barlow;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }
    .order--payment-select-card{
        width: 90%;
        margin: auto;
    }
    .payment--button{
        padding-top: 80px;
        margin: auto;
        width: 90%;
    }
    .card__btn:hover{
        background-color: #FFF;
        transform: scale(1.03);
    }
    

}